.box {
  background-color: var(--box-bg);
  padding: 30px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}
.box img {
  margin: 5px;
}

.header {
  margin-bottom: 30px;
  text-align: center;
}

/*  */

.drop-file-input {
  position: relative;
  width: 400px;
  height: 200px;
  border: 2px dashed var(--border-color);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--input-bg);
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
  color: rgb(15, 112, 202);
  border-color: rgb(15, 112, 202);
  background-color: rgba(15, 112, 202, 0.281);
}

.drop-file-input {
  text-align: center;
  color: var(--txt-second-color);
  font-weight: 600;
  padding: 10px;
}

.drop-file-input__label img {
  width: 100px;
}

.drop-file-input__label span {
  color: rgb(21, 9, 145);
  font-size: 9.5px;
  position: absolute;
  bottom: 7px;
  left: 20px;
}

.drop-file-preview {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
}
.content_preview_file {
  max-height: 380px;
  overflow: auto;
  padding-right: 15px;
}
.content_preview_file::-webkit-scrollbar {
  width: 1px;
}

.content_preview_file::-webkit-scrollbar-thumb {
  border: 1px solid rgba(80, 80, 88, 0.342); /* creates padding around scroll thumb */
}

.drop-file-preview p {
  font-weight: 500;
}

.drop-file-preview__title {
  margin-bottom: 15px;
}

.drop-file-preview__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--input-bg);
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.preview__item_info {
  display: flex;
}

.drop-file-preview__item img {
  width: 60px;
  margin-right: 10px;
  object-fit: contain;
}

.drop-file-preview__item__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  font-size: 12px;
}
.drop-file-preview__item__info > p {
  width: 90%;
}

.container_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.drop-file-preview__item__del {
  background-color: #c03333ab;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.864);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.drop-file-preview__item:hover .drop-file-preview__item__del {
  opacity: 1;
}

/* ICONES DE STATUS DO UPLOAD */
.checkCircle {
  position: absolute;
  right: 70px;
}

.file_invalid {
  font-size: 8.5px;
  color: #c03333;
  font-weight: bold;
  letter-spacing: 0.3px;
}
